@font-face {
    font-family: 'dj_grossnormal';
    src: url('../fonts/djgross/DJGROSS-webfont.eot');
    src: url('../fonts/djgross/DJGROSS-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/djgross/DJGROSS-webfont.woff') format('woff'),
    url('../fonts/djgross/DJGROSS-webfont.ttf') format('truetype'),
    url('../fonts/djgross/DJGROSS-webfont.svg#dj_grossnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'dj_grossnormal', Arial, sans-serif;
    color: #17a2b8;
}

h2 {
    font-family: 'Rock Salt', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

a{
    color: black;
}

.dropdown-item:hover{
    background-color:transparent;
}

a.dropdown-item{
    color:white;
}

a.dropdown-item:hover{
    color: #17a2b8;
}

.carousel-item {
    height: 65vh;
    min-height: 900px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.carousel-caption {
    bottom : 350px;
}

.carousel-caption p{
    color: white;
    font-weight: bold;
}
.carousel-caption h1{
    font-size: 3em;
    color: white;
    font-weight: bold;
}

.portfolio-item {
    margin-bottom: 30px;
}
 .icon{
    margin-left:5px;
    margin-right:5px;
    color: white;
 }

.icon:hover{
    color:deepskyblue;
}

.header #titleArea{
    position: relative;
    bottom: 35vw;
    border-radius: 10px;
    color: white;

}
.header #title{
    font-size: 7vw;
}
.header #titleAreaMobile{
    position: relative;
    bottom: 65vw;
    color: white;
}
.header #titleMobile{
    font-size: 8vw;
}

.shadow{
    border: 1px solid darkgrey;
    box-shadow: 2px 2px 6px grey;
}

.text-shadow{

    text-shadow: 3px 3px 8px black;
}

#gallery{
    display: block;
}

.vignettePhoto{
    max-height: 150px;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {

.vignettePhoto{
    max-height: none;
    overflow: hidden;
}
}