{%  extends 'base.html.twig' %}

{% block title %}
    Liste des figures
{% endblock %}

{% block body%}
        <div class="container mb-5 mt-4 " id="section">
            <div class="bg-light ">
                <div class="row">
                    <div class="col-12 col-md-8"><h1 class="p-2">Les figures</h1></div>
                    <div class=" col-12 col-md-4 d-flex align-items-center justify-content-end "><a href="#" type="button" class="btn btn-sm btn-outline-secondary mr-3">Ajouter une figure</a></div>
                </div>

                <hr>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success text-center" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                <div class="row p-2">
                    {% for  trick in tricks %}
                        <div class="col-12  col-lg-3">
                            <div class="card mb-4 shadow-sm">
                                <svg class="bd-placeholder-img card-img-top" width="50%" height="150px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></svg>
                                <div class="card-body d-flex justify-content-between">
                                    <a href="#">{{ trick.name }}</a>
                                    <div>
                                        <a href="#"><i class="icon fa fa-pencil"></i></a>
                                        <form method="post"  style="display:inline-block" onsubmit="return confirm('Etes vous sure de vouloir supprimer?')">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                                            <button type="submit" class="icon fa fa-trash-o " style="background: none;border:none; cursor: pointer"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-12 text-right ">
                    <a href="#carouselExampleIndicators" ><i class="icon fa fa-arrow-up m-3" style="font-size: 40px"></i></a>
                </div>
            </div>
        </div>
{% endblock %}