{%  extends 'base.html.twig' %}

{% block title %}
    Enregistrement Nouveau Membre
{% endblock %}

{% block header %}
    <div class="container-fluid header p-0">
        <img src="{{ asset('/assets/image/multipleTrick.jpg') }}" alt="image en-tete" class="img-fluid"/>
    </div>
{% endblock %}

{% block body%}
    <div class="container-fluid bg-light mt-5" id="section">
        <div class="row justify-content-center">
            <div class="col-12  mt-3 mb-5">
                <h1 > Enregistrement d'un nouveau Membre</h1>
                <hr class="mb-2"/>
            </div>
        </div>

        <div class="row">
            <div class="col-12 justify-content-center">
                {{ include ('user/_formUser.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}





