<h3>Validation de création de compte</h3>

<p>Bonjour {{ user.loginName }},</p>
<p>Vous venez de réaliser votre enregistrement sur le site JimmySweatSnowbaord.com afin d'activer votre compte merci de cliquer sur le lien suivent :</p>
<p>--> <a href="http://127.0.0.1:8000/validation-membre/{{ token }}">Validation de votre compte</a></p>

<p>En cas de problème merci de nous contacter à cette adresse : <a href="mailto:jeremybouvier2b@gmail.com">email@jimmysweatsnowboard.com</a></p>