<h3>Réinitialisation de votre mot de passe</h3>

<p>Bonjour {{ user.loginName }},</p>
<p>Vous avez fait la demande de réinitialisation de votre mot de passe sur le site de Jimmy Sweat, afin de poursuivre
    cette procedure merci de cliquer sur le lien suivant puis éffectuer les instructions :</p>
<p>--> <a href="http://127.0.0.1:8000/reinitialisation-mot-de-passe/{{ token }}">reinitialisation-mot-de-passe</a></p>

<p>En cas de problème merci de nous contacter à cette adresse : <a href="mailto:jeremybouvier2b@gmail.com">email@jimmysweatsnowboard.com</a></p>