{%  extends 'base.html.twig' %}

{% block title %}
    Réinitialisation de votre mot de passe
{% endblock %}

{% block header %}
    <div class="container-fluid header p-0">
        <img src="{{ asset('/assets/image/multipleTrick.jpg') }}" alt="image en-tete" class="img-fluid"/>
    </div>
{% endblock %}

{% block body%}
    <div class="container-fluid bg-light mt-5" id="section">
        <div class="row justify-content-center">
            <div class="col-12  mt-3 mb-5">
                <h1 class="text-center"> Saisie du nouveau mot de passe</h1>
                <hr class="mb-2"/>
            </div>
        </div>

        <div class="row justify-content-center p-2">
            {{ include ('User/_formInit.html.twig') }}
        </div>
    </div>
{% endblock %}
